{% extends "base.html.twig" %}
 {% block body %}


     <div class="container-fluid" id="main">
         <div class="row row-offcanvas row-offcanvas-left">
             <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation"></div>


             <div class="col-md-9 col-lg-10 main">



                 <h1 class="sub-header mt-5">
                     Accueil
                 </h1>
                 <p class="lead hidden-xs-down">Informations générales du site Kurbys</p>



                 <div class="row mb-3">


                     <div class="col-xl-4 col-lg-6">
                          <div class="card card-inverse card-success">
                             <div class="card-block bg-success">
                                 <div class="rotate">
                                     <i class="fa fa-user fa-5x"></i>
                                    </div>
                                     <h6 class="text-uppercase">Utilisateurs inscrits</h6>
                                    <h1 class="display-1">{{ nb_user }}</h1>

                             </div>
                         </div>



                     </div>


                     <div class="col-xl-4 col-lg-6">
                         <div class="card card-inverse card-danger">
                             <div class="card-block bg-danger">
                                 <div class="rotate">
                                     <i class="fa fa-comments fa-5x"></i>
                                 </div>
                                 <h6 class="text-uppercase">Messages postés</h6>
                                 <h1 class="display-1">{{ nb_post }}</h1>
                             </div>
                         </div>
                     </div>



                     <div class="col-xl-4 col-lg-6">
                         <div class="card card-inverse card-warning">
                             <div class="card-block bg-warning">
                                 <div class="rotate">
                                     <i class="fa fa-user-md fa-5x"></i>
                                 </div>
                                 <h6 class="text-uppercase">Conseillers inscrits</h6>
                                 <h1 class="display-1">{{ conseiller_nb }}</h1>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!--/row-->

                 <hr>
                 <div class="row placeholders mb-3">

                     <div class="col-6 col-sm-3 placeholder text-center">
                         <i class="fa fa-female fa-3x"></i>
                         <h4>utilisatrices : {{ fille_user }}</h4>

                     </div>
                     <div class="col-6 col-sm-3 placeholder text-center">
                         <i class=" fa fa-male fa-3x"></i>
                         <h4>utilisateurs  : {{ garcon_user }}</h4>

                     </div>
                     <div class="col-6 col-sm-3 placeholder text-center">
                         <i class=" fa fa-female fa-3x fa"></i> <i class="fa fa-comments fa-3x"></i>
                         <h4>Messages filles :{{ nb_postsF}} </h4>

                     </div>
                     <div class="col-6 col-sm-3 placeholder text-center">
                         <i class=" fa fa-male fa-3x fa"></i> <i class="fa fa-comments fa-3x"></i>
                         <h4>Messages garçons :{{ nb_postsG }} </h4>

                     </div>

                 </div>


                 <hr>

                    <div class="row my-4 ">

                        <div class="col-lg-12 col-md-12 hidden-sm-down ">
                            <div class="table-responsive">
                                <table class="table table-striped" id="User">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>pseudo</th>
                                        <th>sexe</th>
                                        <th>age</th>
                                        <th>enregistrer</th>
                                        <th>presentation</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for users in users|reverse%}
                                    <tr>
                                        <td>{{ users.userLogin()}}</td>
                                        <td>{{ users.userSexe }}</td>
                                        <td>{{ users.age }}</td>
                                        <td>{{ users.userRegistered |date('d.m.Y')}}</td>
                                        <td>{{ users.presentation  }}</td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 <!--/row-->


                 <a id="more"></a>
                 <a id="features"></a>

                 <!--/////MESSAGES/////////////-->

                 <hr>
                 <h1 class="sub-header mt-5">
                     Messages
                 </h1>
                 <p class="lead hidden-xs-down">Nombre de posts dans chaque catégorie:</p>

                 <div class="mb-3">
                     <div class="card-deck">
                         <div class="card card-inverse card-success text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <p>Catégorie amitié :  {{ nb_posts_amitie }}</p>
                                     <footer>
                                              <a  href="/posts" class="btn btn-success link">Afficher</a>
                                     </footer>
                                 </blockquote>
                             </div>
                         </div>
                         <div class="card card-inverse card-danger text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <p>Catégorie amour : {{ nb_posts_amour }}</p>
                                     <footer>
                                         <a  href="/posts#amour" class="btn btn-danger link">Afficher</a>
                                     </footer>
                                 </blockquote>
                             </div>
                         </div>
                         <div class="card card-inverse card-warning text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <p>Catégorie confiance : {{ nb_posts_confiance }}</p>
                                     <footer>
                                         <a  href="/posts#confiance" class="btn btn-warning link">Afficher</a>
                                     </footer>
                                 </blockquote>
                             </div>
                         </div>
                         <div class="card card-inverse card-info text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <p>Catégorie sexo : {{ nb_posts_sexo }}</p>
                                     <footer>
                                         <a  href="/posts#sexo" class="btn btn-info link">Afficher</a>
                                     </footer>
                                 </blockquote>
                             </div>
                         </div>
                     </div>
                 </div>
                  <div class="row my-4">

                     <div class="col-lg-6 col-md-4">

                 <div class="progress">
                     <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ pctamitie }}%">

                     </div>
                     <hr>
             </div>
             <div class="progress">
                 <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ pctsexo }}%">

                 </div>
                 <hr>
             </div>
             <div class="progress">
                 <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ pctconfiance }}%">

                 </div>
                 <hr>
             </div>
             <div class="progress">
                 <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{ pctamour }}%">

                 </div>
                 <hr>
             </div>
         </div>
     </div>



     <!--/row-->



     <a id="flexbox"></a>

     <p class="lead hidden-xs-down">Derniers messages postés</p>
     <!-- Ajout d'un scroll-->
     <div class="row my-4">
         <div class="col-lg-12 col-md-12 hidden-sm-down">
             <div class="table-responsive">
                 <table class="table table-striped">
                     <thead class="thead-inverse">
                     <tr>
                         <th>date</th>

                         <th>titre</th>
                         <th>contenu</th>
                         <th>catégorie</th>


                     </tr>
                     </thead>
                     <tbody>
                     {% for posts in posts|reverse %}
                         <tr>
                             <td>{{ posts.postDate |date('d.m.Y')}}</td>
                             <td>{{ posts.postTitle }}</td>
                             <td>{{ posts.postContent}}</td>
                             <td>{{ posts.categorie  }}</td>
                         </tr>
                     {% endfor %}

                     </tbody>
                 </table>
             </div>
         </div>
     </div>

                 <a id="commentaires"></a>
     <hr>

     <!--////////////////COMMENTAIRES//////////////////-->

     <h2 class="mt-5">Commentaires </h2>
     <h6>Nombre de commentaires :{{ nbComment }}</h6>


     <p class="lead hidden-xs-down">Nombre de commentaires dans chaque catégorie:</p>


     <div class="mb-3">
         <div class="card-deck">
             <div class="card card-inverse card-success text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Catégorie amitié :  {{ nbComments_amitie }}</p>
                         <footer>
                             <a  href="{{ path('post.see', {'id': 'x'}) }}" class="btn btn-success link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>

             <div class="card card-inverse card-danger text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Catégorie amour : {{ nbComments_amour }}</p>
                         <footer>
                             <a  href="/{{ path('post.see', {'id': 'x'}) }}" class="btn btn-danger link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>
             <div class="card card-inverse card-warning text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Catégorie confiance : {{ nbComments_confiance }}</p>
                         <footer>
                             <a  href="{{ path('post.see', {'id': 'x'}) }}" class="btn btn-warning link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>
             <div class="card card-inverse card-info text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Catégorie sexo : {{ nbComments_sexo }}</p>
                         <footer>
                             <a  href="{{ path('post.see', {'id': 'x'}) }}" class="btn btn-info link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>
         </div>
     </div>
     <div class="row placeholders mb-3">
         <div class="col-6 col-sm-3 placeholder text-center">
             <i class=" fa fa-female fa-3x fa"></i> <i class="fa fa-comments fa-3x"></i>
             <h4>Commentaires filles:{{ nbCommentsWomen}} </h4>

         </div>
         <div class="col-6 col-sm-3 placeholder text-center">
             <i class=" fa fa-male fa-3x fa"></i> <i class="fa fa-comments fa-3x"></i>
             <h4>Commentaires garçons:{{ nbCommentsMen }} </h4>

         </div>
     </div>
     <a id="flexbox"></a>

     <p class="lead hidden-xs-down">Derniers commentaires postés : </p>
     <!-- Ajout d'un scroll-->
     <div class="row my-4">
         <div class="col-lg-12 col-md-12 hidden-sm-down">
             <div class="table-responsive">
                 <table class="table table-striped">
                     <thead class="thead-inverse">
                     <tr>
                         <th>date</th>
                         <!-- <th>auteur</th>-->
                         <th>auteur</th>
                         <th>contenu</th>
                         <th>catégorie</th>


                     </tr>
                     </thead>
                     <tbody>
                     {% for comments in comments|reverse %}
                         <tr>
                             <td>{{ comments.commentDate |date('d.m.Y')}}</td>
                             <!--       <td></td> -->
                             <td>{{ comments.commentAuthor.userLogin }}</td>
                             <td>{{ comments.commentContent}}</td>
                             <td>{{ comments.commentID  }}</td>
                         </tr>
                     {% endfor %}

                     </tbody>
                 </table>
             </div>
         </div>
     </div>


                 <a id="users"></a>
     <a id="layouts"></a>


     <hr>
<!--///////////////////////////////////////////////UTILISATEURS////////////////////////////////////////////////-->

     <div class="clearfix"></div>

     <h2 class="mt-5">Utilisateurs </h2>

     <p class="lead hidden-xs-down">Nombre d'utilisateurs : {{ nb_user }}</p>

     <div class="mb-3">
         <div class="card-deck">
             <div class="card card-inverse card-success text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Inscrits :{{ nb_user }} </p>
                         <footer>
                             <a  href="{{ path('users') }}" class="btn btn-success link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>
             <div class="card card-inverse card-danger text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Connectés : {{ nb_user_online }}</p>
                         <footer>
                             <a  href="{{ path('usersonline') }}" class="btn btn-danger link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>
             <div class="card card-inverse card-warning text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Conseillers : {{ conseiller_nb }}</p>
                         <footer>
                             <a  href="{{ path('conseiller') }}" class="btn btn-warning link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>
             <div class="card card-inverse card-info text-center">
                 <div class="card-block">
                     <blockquote class="card-blockquote">
                         <p>Signalés : </p>
                         <footer>
                             <a  href="{{ path('userswarning') }}" class="btn btn-info link">Afficher</a>
                         </footer>
                     </blockquote>
                 </div>
             </div>
         </div>
     </div>
                 <hr>
                 <p class="lead hidden-xs-down">Ages moyens des utilisateurs du site:</p>

                 <div class="row placeholders mb-3">
                     <div class="col-6 col-sm-3 placeholder text-center">
                         <i class=" fa fa-users  fa-3x"></i>
                         <h4>Utilisateurs : {{ ageMoyUsers }} ans</h4>
                     </div>

                     <div class="col-6 col-sm-3 placeholder text-center">
                         <i class="fa fa-female fa-3x"></i>
                         <h4>Filles : {{ ageMoyWomen }} ans</h4>

                     </div>
                     <div class="col-6 col-sm-3 placeholder text-center">
                         <i class=" fa fa-male fa-3x"></i>
                         <h4>Garçons : {{ ageMoyMen }} ans</h4>
                     </div>
                 </div>


                 <p class="lead hidden-xs-down">Par catégories:</p>
                 <div class="mb-3">
                     <div class="card-deck">
                         <div class="card card-inverse card-success text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <h3>Amitié</h3>
                                     <p> <i class=" fa fa-users  fa-1x"></i>{{ ageMoyCatAmitie }} ans </p>
                                     <p> <i class=" fa fa-female  fa-1x"></i>{{ ageMoyCatAmour }} ans </p>
                                     <p> <i class=" fa fa-male  fa-1x"></i>{{ ageMoyCatConfiance }} ans </p>

                                 </blockquote>
                             </div>
                         </div>
                         <div class="card card-inverse card-danger text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <h3>Amour</h3>
                                     <p> <i class=" fa fa-users  fa-1x"></i> {{ ageMoyCatAmour }} ans</p>
                                     <p> <i class=" fa fa-female  fa-1x"></i> {{ ageMoyCatAmour }} ans</p>
                                     <p> <i class=" fa fa-male  fa-1x"></i> {{ ageMoyCatConfiance }} ans</p>


                                 </blockquote>
                             </div>
                         </div>
                         <div class="card card-inverse card-warning text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <h3>Confiance</h3>
                                     <p> <i class=" fa fa-users  fa-1x"></i> {{ ageMoyCatConfiance }} ans</p>
                                     <p> <i class=" fa fa-female  fa-1x"></i> {{ ageMoyCatAmour }} ans</p>
                                     <p> <i class=" fa fa-male  fa-1x"></i> {{ ageMoyCatConfiance }} ans</p>


                                 </blockquote>
                             </div>
                         </div>
                         <div class="card card-inverse card-info text-center">
                             <div class="card-block">
                                 <blockquote class="card-blockquote">
                                     <h3>Sexo</h3>
                                     <p> <i class=" fa fa-users  fa-1x"></i> {{ ageMoyCatSexo }} ans</p>
                                     <p> <i class=" fa fa-female  fa-1x"></i> {{ ageMoyCatAmour }} ans</p>
                                     <p> <i class=" fa fa-male  fa-1x"></i> {{ ageMoyCatConfiance }} ans</p>


                                 </blockquote>
                             </div>
                         </div>
                     </div>
                 </div>
                 <hr>


                 <a id="flexbox"></a>
                 <div class="row placeholders mb-3">
                 <p class="lead hidden-xs-down">Derniers utilisateurs inscrits : </p>
                 <!-- Ajout d'un scroll-->
                 <div class="row my-4">
                     <div class="col-lg-12 col-md-12 hidden-sm-down">
                         <div class="table-responsive">
                             <table class="table table-striped" id="Users">
                                 <thead class="thead-inverse">
                                 <tr>
                                     <th>date</th>
                                     <th>genre</th>
                                     <th>auteur</th>
                                     <th>présentation</th>
                                     <th>Âge</th>




                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for user in users|reverse %}
                                     <tr>
                                         <td>{{ user.userRegistered |date('d.m.Y')}}</td>
                                         <td>{{ user.userSexe }}</td>
                                         <td>{{ user.userLogin }}</td>
                                         <td>{{ user.presentation}}</td>
                                         <td>{{ user.age }}</td>

                                     </tr>
                                 {% endfor %}

                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>

                 <!--/main col-->
             </div>


         </div>
         <!--/.container-->
         <footer class="container-fluid">
             <p class="text-right small">©2017 kriss</p>
         </footer>



         <!-- Modal -->


         </div>
     </div>
        <!-- <div id="myfirstchart" style="height: 250px;background-color: #5eb5e0" ></div>-->







 {% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {

            $('#Users').DataTable(
                {
            "language":{
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"}

        } )});
    </script>

{% endblock javascripts %}



