{% extends"base.html.twig" %}
{% block body %}

    <div class="container">

        <h2>Utilisateurs inscrits:</h2>
        <div class="row my-4">
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="bg-success">
                        <tr>

                            <th style="width:1%;">auteur</th>
                            <th style="width:8%;">genre</th>
                            <th style="width: 49%;">présentation</th>
                            <th style="width: 8%;">âge</th>
                            <th style="width: 5%;">Avertissement</th>






                        </tr>
                        </thead>
                        <tbody>
                        {% for useronline in usersonline|reverse %}
                            <tr>

                                <td>{{ useronline.iDUser.userLogin }}</td>
                                <td>{{ useronline.iDUser.userSexe }}</td>
                                <td>{{ useronline.iDUser.presentation }}</td>
                                <td>{{ useronline.iDUser.age }}</td>
                                <td>{{ useronline.iDUser.messageSignale }}</td>





                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}